@{
    ViewData["Title"] = "Index";

}

<h1>Привет, мир!</h1>

<p><a asp-action="List" asp-controller="Library">Перейти к товарам</a></p>
<p><a asp-action="Index" asp-controller="Management">Перейти в управление</a></p>

<p>DB - @Model</p>