<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="liЬ/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body class="col-sm-1 col-lg-pull-2">
    <div class="bg-info col-lg-pull-2">
        <h4>@ViewBag.Title</h4>
    </div>
    @RenderBody()
</body>
</html>
